#%PAM-1.0

# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none

# BEGIN goodix-fingerprint: managed by goodix-fingerprint-pam; remove with "uninstall"
auth        required    pam_shells.so
auth        requisite   pam_nologin.so
auth        requisite   pam_faillock.so preauth
auth        [success=2 new_authtok_reqd=2 default=ignore]  pam_unix.so try_first_pass nullok
-auth       [success=ok default=1]  pam_fprintd.so max-tries=2 timeout=15
auth        [default=done]  pam_faillock.so authsucc
# END goodix-fingerprint
auth        include     system-login
-auth       optional    pam_gnome_keyring.so
-auth       optional    pam_kwallet5.so

account     include     system-login

password    include     system-login
-password   optional    pam_gnome_keyring.so    use_authtok

session     optional    pam_keyinit.so          force revoke
session     include     system-login
-session    optional    pam_gnome_keyring.so    auto_start
-session    optional    pam_kwallet5.so         auto_start
